.SearchBar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
.SearchBar input {
    width: 40%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
    height: 20px;
}

.SearchBar .SearchButton {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: #1db954; /* Spotify green */
    cursor: pointer;
    font-weight: bold;
}