.App {
  text-align: center;
}

.SearchResultsContainer {
  display: flex;
  justify-content: space-between;
  max-width: 1200px; /* Adjust as needed */
  margin: 0 auto; /* Center the container */
}

.SearchResults, .Playlist {
  flex: 1;
  margin: 0 10px;
}