.App h1 {
  text-align: center;
}

.SearchResultsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.SearchResults, .Playlist {
  width: 48%; /* Adjust as needed to account for any padding/margin */
}