.TrackContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
    padding: 10px;
    margin: 10px 0;
}
  
.TrackDetails {
  flex-grow: 1;
  margin-right: 10px;
}
  
.TrackName {
  margin: 0 0 10px 0; /* This adds a 10px margin to the bottom */
}

.TrackInfo {
    margin: 10px 0 0 0; /* This adds a 10px margin to the top */
}
  
.TrackButton {
  width: 50px;
  height: 50px;
  border: none;
  background-color: black;
  color: #1db954; /* Spotify green */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
}

.ArtistName, .AlbumName {
  display: block; /* Make them display as block elements */
}

@media (max-width: 600px) {
  .TrackContainer {
    flex-direction: column;
    text-align: center;
  }

  .TrackDetails {
    margin-right: 0;
  }

  .TrackName, .ArtistName {
    font-size: 14px;
  }

  .AlbumName {
    font-size: 12px; /* Make the album name font size smaller */
  }

  .TrackButton {
    width: 100%;
    margin-top: 10px;
  }
}
  