.SearchResults {
  text-align: left; /* Change this to left */
  width: 100%;
  margin: 0 auto;
}

.SearchResultsHeader {
  text-align: center;
  font-size: 1.75em;
}

.SearchResults .placeholder {
  height: 0px; /* Set this to the total height of the input field in the Playlist component, including padding and margin */
}