.Playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%; /* Add this line if you want the Playlist to take up the full width of its parent */
}

.Playlist input, .Playlist-save {
  width: 25%;
  height: 40px; /* Adjust as needed */
}

.Playlist-save {
  border-radius: 20px; /* Adjust as needed */
  margin-top: 20px;
}