.Playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%; /* Add this line if you want the Playlist to take up the full width of its parent */
}

.Playlist input {
  width: 70%; /* Reduce the width to prevent touching the playlist title */
  border: none;
  outline: none;
  background: none;
  border-bottom: 1.5px solid #ccc;
  font-size: 1.75em;
  text-align: center;
  padding: 0;
  margin-bottom: 20px;
  font-weight: 700; /* Make the font weight similar to the search result header */
  color: black; /* Change the color to match the search result header */
}

.Playlist-save {
  width: 25%;
  height: 40px; /* Adjust as needed */
  border-radius: 5px;
  margin-top: 20px;
  background-color: black;
  color: #1db954; /* Spotify green */
  font-weight: bold;
}

.Playlist-save:hover {
  cursor: pointer; /* Change the cursor to a pointer when hovering over the button */
}
